################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/ShooterCompartido/UserSettings
/ShooterCompartido/Temp
/ShooterCompartido/ShooterCompartido.sln
/ShooterCompartido/Logs
/ShooterCompartido/Library
/ShooterCompartido/Assembly-CSharp.csproj
/ShooterCompartido/.vsconfig
/ShooterCompartido/.vs
