################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/ShooterCompartido/UserSettings
/ShooterCompartido/Temp
/ShooterCompartido/ShooterCompartido.sln
/ShooterCompartido/Logs
/ShooterCompartido/Library
/ShooterCompartido/Assembly-CSharp.csproj
/ShooterCompartido/.vsconfig
/ShooterCompartido/.vs
/ShooterCompartido/UnityEngine.TestRunner.Player.csproj
/ShooterCompartido/UnityEngine.TestRunner.csproj
/ShooterCompartido/UnityEditor.UI.csproj
/ShooterCompartido/UnityEditor.TestRunner.csproj
/ShooterCompartido/Unity.VSCode.Editor.csproj
/ShooterCompartido/Unity.VisualStudio.Editor.csproj
/ShooterCompartido/Unity.Timeline.Player.csproj
/ShooterCompartido/Unity.Timeline.Editor.csproj
/ShooterCompartido/Unity.Timeline.csproj
/ShooterCompartido/Unity.TextMeshPro.Player.csproj
/ShooterCompartido/Unity.TextMeshPro.Editor.csproj
/ShooterCompartido/Unity.TextMeshPro.csproj
/ShooterCompartido/Unity.Settings.Editor.csproj
/ShooterCompartido/Unity.Services.Core.Editor.csproj
/ShooterCompartido/Unity.Rider.Editor.csproj
/ShooterCompartido/Unity.ProBuilder.Stl.Player.csproj
/ShooterCompartido/Unity.ProBuilder.Stl.csproj
/ShooterCompartido/Unity.ProBuilder.Poly2Tri.Player.csproj
/ShooterCompartido/Unity.ProBuilder.Poly2Tri.csproj
/ShooterCompartido/Unity.ProBuilder.Player.csproj
/ShooterCompartido/Unity.ProBuilder.KdTree.Player.csproj
/ShooterCompartido/Unity.ProBuilder.KdTree.csproj
/ShooterCompartido/Unity.ProBuilder.Editor.csproj
/ShooterCompartido/Unity.ProBuilder.csproj
/ShooterCompartido/Unity.ProBuilder.Csg.Player.csproj
/ShooterCompartido/Unity.ProBuilder.Csg.csproj
/ShooterCompartido/Unity.ProBuilder.AssetIdRemapUtility.csproj
/ShooterCompartido/Unity.ProBuilder.AddOns.Editor.csproj
/ShooterCompartido/Unity.PlasticSCM.Editor.csproj
/ShooterCompartido/Unity.CollabProxy.Editor.csproj
/ShooterCompartido/Assembly-CSharp.Player.csproj
/ShooterCompartido/UnityEngine.UI.Player.csproj
/ShooterCompartido/UnityEngine.UI.csproj
